{% extends "layout.html" %}

{% block content %}
	<h1 class="titles">About Us</h1>
	<img id="PicAbout" src="{{ url_for('static', filename='img/logo.jpg') }}">
	<p id="aboutPara">Souq is an e-commerce company, that specializes in online orders, and delivery. Founded in 2021, we are already selling a variety of products, from TVs from Samsung, to perfumes from Davidoff. Our goal is to have maximum customer satisfaction, since what is a company without the customer. <br><br>Contact Email: Souq@gmail.com<br>Contact Number: 987654321</p>
{% endblock content %}